*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Macondo", serif;
}
.app{
  max-width: 100%;
  margin: auto;
  height: 100%;
  background-color: #022C43;
  padding: 2rem;
  font-family: "Macondo", serif;
}
.main{
  padding-top: 2rem;
}
.loading{
  height: 100vh;
}